$content-label-timing:0.5s;
.content-label {
  transition:opacity $content-label-timing;
  &.not-inview {
    opacity:0;
  }
  &.inview {
    animation:content-label-wipe $content-label-timing ease-in-out;
  }
}
@keyframes content-label-wipe {
  0% {
    clip-path:polygon(0% 0%, 5% 0%, 1% 100%, 0% 100%)
  }
  100% {
    clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
  }
}