$break-slider-control:640px;
.slider {
  .slider-port {
    margin-left:auto;
    margin-right:auto;
    overflow-x:scroll;
    position:relative;
    scroll-snap-type:x mandatory;
    scroll-behavior:smooth;
    -webkit-overflow-scrolling:touch;
    width:100%;
    @media (min-width:$break-slider-control) {
      width:calc(100% - 4rem);
    }
  }
  .slides {
    display:flex;
    padding:0;
    padding-bottom:1rem;
    .slide {
      display:block;
      flex-shrink:0;
      margin:0;
      padding:0;
      scroll-snap-align:start;
      width:100%;
    }
    .slide + .slide {
      margin-left:1rem;
    }
  }
  .slider-controls {
    @media (max-width:$break-slider-control - 1px) {
      display:flex;
      justify-content:space-between;
    }
  }
  .slider-control {
    @media (min-width:$break-slider-control) {
      position:absolute;
      top:50%;
      z-index:2;
      &.slider-control-prev {
        left:0;
      }
      &.slider-control-next {
        right:0;
      }
    }
  }
}
