<div class="slider">
  <ul class="slide-index sibling-margins-off">
    <li><a href="#slider-0-slide-0">Slide 1</a></li>
    <li><a href="#slider-0-slide-1">Slide 2</a></li>
    <li><a href="#slider-0-slide-2">Slide 3</a></li>
  </ul>
  <div class="slides sibling-margins-skip">
    <div class="slide" id="slider-0-slide-0">
      {{ render '@image-card' }}
    </div>
    <div class="slide" id="slider-0-slide-1">
      {{ render '@image-card' }}
    </div>
    <div class="slide" id="slider-0-slide-2">
      {{ render '@image-card' }}
    </div>
  </div>
</div>
