<div class="card border-dark">
  <h2 class="h5 card-header font-weight-bold text-white bg-dark">Office Name</h2>
  <div class="card-body bg-light rounded-bottom">
    <p class="card-text">Office contact information includeing address, telephone number, and email address</p>
    <ul class="{{link_list_classes}}">
      <li class="{{link_list_item_classes}}">{{> @button--secondary_option}}</li>
      <li class="{{link_list_item_classes}}">{{> @button--secondary_option}}</li>
    </ul>
  </div>
</div>