<div class="fact {{fact_color}} sibling-margins-off">
  <span class="d-block text-center factnumber make-counter">{{fact_number}}</span>
  <span class="d-block text-center">{{fact_desc}}</span>
</div>