<nav aria-label="breadcrumb">
  <ol class="breadcrumb p-0 w-100 d-flex flex-nowrap rounded-0">
    {{> @breadcrumb-item }}{{ render '@breadcrumb-item' }}{{ render '@breadcrumb-item' }}{{ render '@breadcrumb-item--active' }}
  </ol>
</nav>