<nav aria-label="breadcrumb">
  <ol class="breadcrumb p-0 w-100 d-flex flex-nowrap rounded-0">
    <li class="breadcrumb-item make-inview"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item make-inview"><a href="page.html">Section Level 1</a></li>
    <li class="breadcrumb-item make-inview"><a href="subpage.html">Section Level 2</a></li>
    <li class="breadcrumb-item active" aria-current="page"><span class="current">Current Page</span></li>
  </ol>
</nav>