.make-counter {
  display:inline-flex;
  flex-wrap:nowrap;
  font-size:1rem;
  height:1.5rem;
  line-height:1.5rem;
}
.make-counter span {
  display:block;
  flex-shrink:0;
  font-family:inherit;
  font-size:inherit;
  height:inherit;
  line-height:inherit;
  margin-top:0;
  position:relative;
  top:0;
}
.make-counter .digit-con {
  height:inherit;
  overflow:hidden;
  width:0.6em;
}
@for $i from 1 to 20 {
  .make-counter .digit-con:nth-child(#{$i}) .count-transition {
    transition:top ((1 + ($i * 0.15)) * 1s);
  }
}