<div class="views-row views-row-3 views-row-odd">
  <div class="views-field views-field-nothing">
    <a href="#zoom-free_for_all-3">
      <img src="small.jpg" data-lazy="small.jpg" alt="Photo contest candidate" style="opacity: 1;">
    </a>
  </div>
  <div id="zoom-free_for_all-3" class="zoomed">
    <div class="views-field-image">
      <img src="large.jpg" data-lazy="large.jpg" style="opacity: 1;">
      <div class="views-field-field-file-image-caption"><p>The Madonna and Child in Kuala Lumpur</p></div>
      <div class="views-field-field-file-image-credit"><p>Sebastian Espinosa, CC'19, University of Hong Kong (HKU)</p></div>
    </div>
    <a href="#_" class="close">Close</a>
  </div>
</div>