<div class="card bg-light py-5">
  <div class="card-body text-center">
    <span class="d-block display-3">50%</span>
    <span>of Columbia students receive need-based financial aid</span>
  </div>
</div>