<div class="donutchart make-inview">
  <table class="table table-borderless table-sm w-auto">
    <thead class="sr-only">
      <tr>
        <th scope="col">{{donut_th_value}}</th>
        <th scope="col">{{donut_th_label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle"><span class="datum d-block text-center px-2 py-1 rounded">40%</span</td>
        <td class="align-middle">Mathematics and Natural Sciences</td>
      </tr>
      <tr>
        <td class="align-middle"><span class="datum d-block text-center px-2 py-1 rounded">24%</span></td>
        <td class="align-middle">Arts and Humanities</td>
      </tr>
      <tr>
        <td class="align-middle"><span class="datum d-block text-center px-2 py-1 rounded">11%</span></td>
        <td class="align-middle">Engineering</td>
      </tr>
      <tr>
        <td class="align-middle"><span class="datum d-block text-center px-2 py-1 rounded">20%</span></td>
        <td class="align-middle">Social Sciences</td>
      </tr>
      <tr>
        <td class="align-middle"><span class="datum d-block text-center px-2 py-1 rounded">5%</span></td>
        <td class="align-middle">Undecided</td>
      </tr>
    </tbody>
  </table>
</div>