<div class="infobar {{infobar_color}}">
  <h4>Goal</h4>
  <p><span class="infobar-max">{{infobar_max}}</span></p>
  <h4>Current Total</h4>
  <p><span class="infobar-current">{{infobar_current}}</span></p>
</div>