  <div class="card border-0 rounded-0 card-peek">
    <div class="card-img">
      {{ render '@lazyimage' }}
    </div>
    <div class="card-img-overlay d-flex flex-column justify-content-end align-items-start">
      {{ render '@tag--animated' }}
      <h3 class="card-peek-title d-inline-block p-2 font-weight-bold make-inview animate-wipe"><a href="#">Excepteur Sint Occaecat</a></h3>
      <div class="card-peek-content px-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>

