$animation-timing:0.5s;
.animate-wipe {
  transition:opacity $animation-timing;
  &.not-inview {
    opacity:0;
  }
  &.inview {
    animation:animation-wipe $animation-timing ease-in-out;
  }
}

@keyframes animation-wipe {
  0% {
    clip-path:polygon(0% 0%, 5% 0%, 1% 100%, 0% 100%)
  }
  100% {
    clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
  }
}