<div class="card bg-dark text-white h-100">
  <a href="#" class="text-light">
    <img src="http://via.placeholder.com/640x480/6c757d/565d65.png" class="card-img" alt="placeholder for image">
    <div class="card-img-overlay d-flex flex-column justify-content-end">
      {{> @tag--reverse }}
      <h2 class="font-weight-bold">Story Title</h2>
      <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
  </a>
</div>