<div class="card date-card d-flex flex-row{{date_card_style}}">
  <div class="date-card-date">{{ render '@event-date-short--animated' }}</div>
  <div class="date-card-body border-left">
    <h2 class="h5 date-card-title">{{{date_card_title}}}</h2>
    <div class="date-card-description links-animate-underline">{{{date_card_description}}}</div>
  </div>
</div>