$color-event-month:var(--red);

.event-month[title] {
  border:1px rgba(black,0.1) solid;
  color:$color-event-month;
  display:block;
  font-size:0.875rem;
  font-weight:bold;
  line-height:1rem;
  padding:0.25rem 0;
  position:relative;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  &.reverse {
    background-color:$color-event-month;
    border:none;
    color:white;
  }
}